PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/orderby
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
SESSION_SECRET=please-change-this
JWT_SECRET=please-change-this-too
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
